<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="/public/css/banner.css">
    <link rel="stylesheet" href="/public/css/contact.css">
    <link rel="stylesheet" href="/public/css/xdz_index.css" />
</head>
<body>
<div id="contact">
</div>
</body>
<script src="/public/js/jquery.min.js"></script>
<script src='/public/js/li_contact.js'></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=570E1e7563f6e47308e7928f68f9b6d3"></script>
<script src="/public/js/baiduMap.js"></script>
</html>