<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/public/css/xdz_index.css">
<link rel="stylesheet" href="/public/css/rsx_common.css">
<link rel="stylesheet" href="/public/css/rsx_ideals.css">
<link rel="stylesheet" href="/public/css/rsx_index.css">
<link rel="stylesheet" href="/public/css/rsx_trends.css">
<link rel="stylesheet" href="/public/css/cyh_about.css">
<link rel="stylesheet" href="/public/css/cyh_join.css">
<link rel="stylesheet" href="/public/css/cyh_contact.css">
<link rel="stylesheet" href="/public/css/cyh_font.css">
<link rel="stylesheet" href="/public/css/indexbanner.css">
<link rel="stylesheet" href="/public/js/jquery.min.js">
<link href="/public/css/video-js.min.css" rel="stylesheet">
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/video.min.js"></script>

<body>
<div id="kang_index"></div>
</body>
<script>
    videojs.options.flash.swf = "/public/js/video-js.swf";
</script>
<script src="/public/js/kang_index.js"></script>
</html>