<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/public/js/fetch.js"></script>
</head>
<link rel="stylesheet" href="/public/css/antd.min.css">
<style>
    #login .login-form {
        max-width: 300px;
        margin:100px auto;
    }
    #login .login-form-forgot {
        float: right;
    }
    #login .login-form-button {
        width: 100%;
    }
</style>
<body>
<div id="login"></div>
</body>
<script src="/public/js/login.js"></script>
</html>